<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>

<h1>Let's Play MadLibs!</h1>

<form action="/madlib">
    <label for="number">Write a number</label>
    <input type="text" name="number" id="number">
    <br>
    <br>

    <label for="verb">Write a verb</label>
    <input type="text" name="verb" id="verb">
    <br>
    <br>

    <label for="adverb">Write a adverb</label>
    <input type="text" name="adverb" id="adverb">
    <br>
    <br>

    <label for="feeling">Write a feeling</label>
    <input type="text" name="feeling" id="feeling">
    <br>
    <br>

    <label for="adjective">Write a adjective</label>
    <input type="text" name="adjective" id="adjective">
    <br>
    <br>

    <label for="noun">Write a noun</label>
    <input type="text" name="noun" id="noun">
    <br>
    <br>

    <label for="another-number">Write another number</label>
    <input type="text" name="another-number" id="another-number">
    <br>
    <br>

    <label for="another-adjective">Write another adjective</label>
    <input type="text" name="another-adjective" id="another-adjective">
    <br>
    <br>

    <label for="third-adjective">Write a third adjective</label>
    <input type="text" name="third-adjective" id="third-adjective">
    <br>
    <br>

    <label for="instructor-name">Write an instructor's name</label>
    <input type="text" name="instructor-name" id="instructor-name">
    <br>
    <br>

    <label for="animal">Write an animal</label>
    <input type="text" name="animal" id="animal">
    <br>
    <br>

    <label for="niche-topic">Write a niche topic.</label>
    <input type="text" name="niche-topic" id="niche-topic">
    <br>
    <br>

    <label for="another-verb">Write a verb.</label>
    <input type="text" name="another-verb" id="another-verb">
    <br>
    <br>

    <label for="time-of-day">Write a time of day.</label>
    <input type="text" name="time-of-day" id="time-of-day">
    <br>
    <br>

    <label for="last-number">Write another number.</label>
    <input type="text" name="last-number" id="last-number">
    <br>
    <br>
    <label for="name">Write a name.</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
  <input type="submit">
</form>

</body>
</html>
