<!doctype html>
<html>
<head>
  <title>Your Custom Story</title>
</head>

<h1>Diary of a Hackbrighter <h1>
<body>

<h2>

    Dear Diary,
    <br>
    <br>
    We're {{ number }} days into learning to {{ verb }} here at Hackbright
    Academy, and so far it is going {{ adverb }}! I remember the first day
    of class I was feeling so {{ feeling }}, but now it feels likes a {{ adjective }} {{ noun }}.
    <br>
    <br>
    There are {{ another_number }} other Hackbrighters in my class, and everyone is
    just so {{ another_adjective }}.  The instructors are also very {{ third_adjective }}.
    <br>
    <br>
    Project season is coming up soon! {{ instructor_name }} has been pushing for a project on {{ animal }}s, 
    but my interest is in {{ niche_topic }}.
    <br>
    <br>
    Anyway, I should {{ another_verb }} because I have homework to do! The past few
    {{ time_of_day }}s it has taken me {{ last_number }} minutes to finish.
    <br>
    <br>
    Xoxo,
    <br>
    {{ name }}
    
</h2>
</body>
</html>